.card {
  min-width: 310px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(151.28deg, #232253, #01001cde, #23225365);
  border: 1.5px solid #cc91ff21;
  transition: .4s;
}

.card:hover {
  box-shadow: 0 0 15px 0.5px #906cdf54;
}

.cardPadding {
  padding: 12px;
}

.projectName h4 {
  font-weight: 500;
  border-left: 3px solid #319E3D;
  padding-left: 10px;
}

.projectImage,
.projectImage img {
  width: 100%;
}

.projectDescription p {
  font-size: 0.9rem;
  margin-bottom: 12px;
  padding-top: 10px;
}

.cardLinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardLinks a {
  text-align: center;
  width: 100%;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #232253;
  border: 1px solid #232253;
  transition: .4s;
}

.cardLinks a:hover {
  background-color: #ffffff00;
}