.banner {
  height: 350px;
  background-image: url('../../assets/banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 70px;
}

.bannerContent {
  width: 100%;
  height: 100%;
  background-color: #00000057;
}

.flexContent {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.flexContent figure {
  width: clamp(85px, 15vw, 100px);
}

.flexContent figure img {
  width: 100%;
}

.phraseContainer {
  font-size: 1.2rem;
  font-weight: 500;
  background: #94949441;
  padding: 25px;
  border-radius: 15px;
}

.phraseContainer p {
  font-size: clamp(.8em, 4vw, 1em);
}

/* PROJECTS */

.cardContainer {
  width: 100%;
  padding: 0 3em;
  overflow-x: auto;
  display: flex;
}

/* ABOUT */

.about {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.about figure {
  height: 250px;
  box-shadow: 0px 0px 35px 2px #c5c5c534;
  border: 4px solid #232253;
}

h3 {
  margin-bottom: 8px;
}

.container-about {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
  transition: .3s;
}

.container-about p:first-of-type {
  margin-top: 12px;
  font-size: 1.5rem;
}

.container-about p {
  width: 100%;
  max-width: 700px;
  line-height: 25px;
  margin-top: 20px;
}

.btn-box-see-more {
  margin-top: 1.6em;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.btn-box-see-more button {
  font-size: 1em;
  background-color: #288d34;
  padding: 10px 25px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  transition: .3s;
}

.btn-box-see-more button:hover {
  background-color: #3fb64b;
  box-shadow: 0 0 15px 5px #00e10f1d;
}

/* TECHNOLOGIES */

.container-technologies {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  margin-top: 20px;
  padding-bottom: 20px;
  gap: 30px;
}

.technologies-card {
  width: 300px;
  height: 260px;
  padding: 40px;
  border-radius: 30px;
  background: linear-gradient(to bottom, #0E0D21, #29275acd, #0E0D21);
  box-shadow: 0 0 25px 2px #864eff20;
  border: 1px solid #232253;
}

.technologies-card h4 {
  text-align: center;
}

.technologies-box {
  width: 40%;
  margin: 30px auto 0 auto;
}

.technologies-box figure,
.container-contact figure {
  margin: 15px 0;
  display: flex;
  align-items: center;
  gap: 20px;
}

.technologies-box figure img {
  width: 35px;
  transition: all ease-out .4s;
}

.technologies-box figure img:hover {
  transform: rotate(360deg) scale(1.3);
}

/* CONTACT */

.container-contact {
  padding: 20px;
  background-color: #080717;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-contact figure {
  margin: 15px auto;
}

.box-contacts a:hover {
  color: #319E3D;
}


@media (max-width: 675px) {
 .flexContent {
  flex-direction: column;
  gap: 15px;
 } 
}