.banner {
  height: 350px;
  background-image: url('../../assets/banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 70px;
}

.bannerContent {
  width: 100%;
  height: 100%;
  background-color: #00000057;
}

.flexContent {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.flexContent figure {
  width: clamp(85px, 15vw, 100px);
}

.flexContent figure img {
  width: 100%;
}

.phraseContainer {
  font-size: 1.2rem;
  font-weight: 500;
  background: #94949441;
  padding: 25px;
  border-radius: 15px;
}

.phraseContainer p {
  font-size: clamp(.8em, 4vw, 1em);
}

/* PROJECTS */

.cardContainer {
  width: 100%;
  padding: 0 3em .5em;
  overflow-x: auto;
  display: flex;
  scrollbar-width: 2px;
}

/* skills */

.skillsContainer {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.skillsCard {
  width: 100%;
  max-width: 300px;
  padding: 40px;
  border-radius: 30px;
  background: linear-gradient(to bottom, #0E0D21, #29275acd, #0E0D21);
  box-shadow: 0 0 25px 2px #864eff20;
  border: 1px solid #232253;
}

.skillsCard h4 {
  text-align: center;
  margin-bottom: 40px;
}

.skillsCard ul li {
  margin-bottom: 10px;
  list-style-position: inside;
}

/* ABOUT */

.aboutMeContainer {
  width: 100%;
  max-width: 700px;
  height: 300px;
  overflow-y: auto;
  padding: 0 10px;
  margin: 0 auto;
}

.aboutMeContainer p {
  line-height: 25px;
}

/* CONTACT */

.contactContainer {
  padding: 20px;
  background-color: #080717;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactContainer figure {
  margin: 15px auto;
  display: flex;
  align-items: center;
  gap: 20px;
}

.contactContainer figure figcaption  a:hover {
  color: #319E3D;
}


@media (max-width: 675px) {
  .flexContent {
    flex-direction: column;
    gap: 15px;
  }
}