.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #00000096;
  padding: 23px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu a {
  font-size: 1.3rem;
}

.menu nav a {
  font-size: 0.8rem;
  font-weight: 500;
  margin: 0 10px;
  transition: .3s;
}

.menu nav a:hover,
.menu nav a:first-of-type:hover span,
.menu nav a:last-of-type:hover span {
  color: #3eff54;
}

@media (max-width: 600px) {
  .menu {
    flex-direction: column;
  }

  .menu nav {
    border-top: 1px solid #3d3d54;
    padding-top: 10px;
    margin-top: 10px;
  }
}